@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1272px;
  margin: 0 auto;
  padding-right: 5px;
  padding-left: 5px;
}

.bg-image {
  background: url(./assets/images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* ptRootUI */

@font-face {
  font-family: "ptRootUI-300";
  src: url(./fonts/light.otf);
}
@font-face {
  font-family: "ptRootUI-400";
  src: url(./fonts/regular.otf);
}
@font-face {
  font-family: "ptRootUI-500";
  src: url(./fonts/medium.otf);
}
@font-face {
  font-family: "ptRootUI-700";
  src: url(./fonts/bold.otf);
}

/* montserrat */

@font-face {
  font-family: "montserrat-600";
  src: url(./fonts/Montserrat/Montserrat-SemiBold.ttf);
}
